* {
    font-family: 'Ubuntu', sans-serif !important;
}

/* Estilos para el Login */

.contenedor {
    background-color: #297479;
    height: 100vh;
}

.form-card {
    height: 60vh;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 992px) {
    .login-ilustration {
        display: none;
    }
}

/* Navbar */
.bg {
    background-color: #297479;
}

.dropdown-menu {
    background-color: #297479;
    border-radius: 15px;
}

li hr {
    border: 1px solid #fff;
}

nav .dropdown-item:hover {
    background-color: #424649;
}

.logo-liceman {
    max-width: 150px;
}

/* BOTONES */
.btn-outline-dark {
    border: 2px solid #000 !important;
    border-radius: 10px !important;
}

.btn-dark {
    background-color: #000;
    border-radius: 10px !important;
}

.btn-lg {
    width: 350px;
}

/* INPUTS DE TEXTO */

.input-icon {
    position: relative;
}

.input-icon:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
}

.input {
    width: 100%;
    height: 40px;
    border: 1px solid #767676;
    border-radius: 12px;
    padding-left: 8px;
}

.with-icon {
    padding-left: 40px;
}

.username:before {
    background: url("../assets/icons/user-solid.svg") center / contain no-repeat;
}

.password:before {
    background: url("../assets/icons/lock-solid.svg") center / contain no-repeat;
}

#eye {
    border: 0 !important;
    font-size: 20px;
    position: absolute;
    right: 0px;
    top: 3px;
}

/* Switch button */

.form-check-input {
    margin: 5px 10px !important;
}

.form-check-input:checked {
    background-color: #56C561 !important;
    border-color: #56C561 !important;
}


/* Tabla */
table {
    border-radius: 1em;
    overflow: hidden;
}

tr,
td {
    border: none !important;
}

table thead {
    background-color: #2EB894;
}

thead th i {
    cursor: pointer;
}

td,
th {
    max-width: 250px !important;
}

i {
    font-family: "Font Awesome 6 Free" !important;
}

.fa-angle-down {
    cursor: pointer;
}

.fs-7 {
    font-size: 14px;
}

.text-muted {
    font-size: 12px;
}

.fa-clock {
    color: #FEC24E;
    font-size: 16px;
}

.fa-check {
    color: #56C561;
}

.fa-xmark {
    color: #B82E52;
}

.rotated {
    transform: rotate(180deg);
}

.teams-logo {
    height: 18px;
    width: 30px;
}

/* Modal */
.modal-content {
    border-radius: 25px;
}

/* Push noti */

.toast-header-asignada,
.toast-header-aprobada,
.toast-header-creada,
.toast-header-creada {
    background-color: #2EB894;
}

.toast-header-revocada,
.toast-header-rechazada {
    background-color: #B82E52;
}

.toast-header-devuelta {
    background-color: #FEC24E;
}

.toast-header {
    color: #fff;
}

.toast-body span {
    font-size: 18px;
    vertical-align: middle;
}

.toast-body p {
    display: inline;
    vertical-align: baseline !important;
}

.noti-position {
    right: 5%;
    top: 10%;
}

#pushNotiSimple {
    border-radius: 0 !important;
}

.mt-05 {
    margin-top: 0.5rem !important;
}


/* RESPONSIVE DEL PUSH NOTI */
@media (max-width: 992px) {

    /* Para medium */
    .toast-container {
        max-width: 300px;
    }

    .toast-body p,
    .toast-header strong,
    .toast-header i {
        vertical-align: middle;
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {

    /* Para small */
    .toast-container {
        max-width: 250px;
    }

    .toast-body p,
    .toast-header strong,
    .toast-header i {
        vertical-align: middle;
        font-size: 0.8rem;
    }
}